{% extends 'base.html' %}
{% load static %}
{% block customhead %}
<title> No Mas Accidentes </title>
{% endblock %}

{% block body %}
    <!-- form -->
  <div class="container-fluid">
    <div class="jumbotron container-md form-cont">
      <div class="row">
        <div class="col-12">
          <div class="align-self-start logo-form">
            <img src="{% static 'img/logo nma.png' %}" alt="logo-nma">
          </div>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Ingrese su correo electronico</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Escriba su mensaje aqui</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
            <div class="col-auto ">
                <button type="submit" class="btn btn-primary mb-2">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}