{% extends 'base.html' %}
{% load static %}
{% block customhead %}
<title> No Mas Accidentes </title>
{% endblock %}

{% block body%}
<div class="container-fluid">
    <!-- Carrousel -->
    <div class="jumbotron c-carousel">
      <div class="row">
        <div class="col-12">
          <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselCaptions" data-slide-to="1"></li>
              <li data-target="#carouselCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/PrevencionRiesgos.jpg' %}" class="d-block w-100" alt="Seguridad">
                <div class="carousel-caption d-none d-md-block c-text">
                  <h5>Seguridad</h5>
                  <p>Como S&P estamos comprometidos a brindarles el apoyo necesario para que usted pueda prevenir accidentes laborales o enfermedades en su empresa, su seguridad es nuestra prioridad.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/Training.jpg' %}" class="d-block w-100" alt="Capacitaciones">
                <div class="carousel-caption d-none d-md-block c-text">
                  <h5>Capacitaciones</h5>
                  <p>Disponemos de una alta oferta de profesionales aptos para capacitar a su empresa en la prevencion de riesgos, los cuales seran precisamente adaptados a sus necesidades.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/asesoria.jpg' %}" class="d-block w-100" alt="Asesorias">
                <div class="carousel-caption d-none d-md-block c-text">
                  <h5>Asesorias especializadas</h5>
                  <p>Analizamos las fortalezas y debilidades de su empresa, aportando con todo lo necesario para mantenerlos actualizados en las tareas de prevencion.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  <!-- Inf de empresa -->
    <div class="container-fluid">
      <div class="jumbotron">
        <div class="row no-glutters">
          <div class="col-4">
            <img src="{% static 'img/asesoria2.jpg' %}" class="rounded-circle inf-img" alt="inf-img">
          </div>
          <div class="col-sm-4">
            <h5>Lorem, ipsum dolor.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id sed deserunt exercitationem incidunt? Iure adipisci molestias vel eum obcaecati at nam reprehenderit consequatur dicta quibusdam, ipsam eaque modi libero!</p>
          </div>
          <div class="col-sm-4">
            <h5>Lorem, ipsum dolor.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis odit ab accusantium ad doloremque recusandae iure inventore illum tenetur nemo!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}