{% extends 'base.html' %}
{% load static %}
{% block customhead %}
<title> No Mas Accidentes </title>
{% endblock %}

{% block body%}
    <!--login-->
  <div class="container-fluid">
    <div class="jumbotron form-cont col-6">
      <div class="row justify-content-center"> 
        <div class="col-md-7">
          <div class="login">
            <div class="d-flex justify-content-center">
              <img src="{% static 'img/logo nma.png' %}" alt="nma-login">
            </div>
            <div class="d-flex justify-content-center">
              <h4>Inicia sesion</h3>
            </div>
            <form >
              <!-- Usuario(run)-->
              <div class="form-group">
                <label for="usuario">RUN</label>
                <input type="text" class="form-control" id="RUN" placeholder="Ingrese su run">
              </div>
              <!-- Contraseña-->
              <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
              </div>
              <!--boton ingresar-->
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-2" id="btn-login">Ingresar</button>
              </div>
              <!--Recuperar contraseña-->
              <div class="d-flex justify-content-center">
                <a href="/recuperar">Recuperar contraseña</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}