{% extends 'base.html' %}
{% load static %}
{% block customhead %}
<title> No Mas Accidentes </title>
{% endblock %}

{% block body%}

  <div class="container-fluid">
    <div class="jumbotron form-cont col-6">
      <div class="row justify-content-center"> 
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <img src="{% static 'img/logo nma.png' %}" alt="nma-login">
          </div>
          <div class="d-flex justify-content-center">
            <h4>Cambiar contraseña</h3>
          </div>
          <div class="d-flex justify-content-center">
            <p>
              Ingrese su correo electronico para enviarle las instrucciones para recuperar su contraseña
            </p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="login">
            <form >
              <!-- Correo-->
              <div class="form-group">
                <label for="usuario">Ingrese su correo</label>
                <input type="email" class="form-control" id="RecoveryEmail" placeholder="nombre@ejemplo.com">
              </div>
              <!--boton ingresar-->
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mb-2" id="btn-login">Ingresar</button>
              </div>        
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}