*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F0AE03;
}

.navbar{
    background-color: #1F2F59;
    color: #ffffff;
    align-items: center;
    height: 70px;
    width: 100%;
}

.navbar-nav{
    align-items: center;
}

.navbar-collapse{
    background-color: #1F2F59;
}

.navbar-logo{
    width: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
nav a:hover{
    border-bottom: 2px solid #ffffff;
}

.navbar-brand:hover{
    border-bottom: 0px;
}

.c-carousel{
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    max-width: 1200px;
    max-height: 600px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.carousel-inner img {
    max-height: 500px;
    max-width: 100%;
}

.c-text p{
    background-color: rgb(0, 0, 0,0.4);
}

.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon{
    background-color: black;
}

.inf-img{
    max-height: 150px;
    max-width: 100%;
}

/*.container-fluid{
    margin: auto;
    background-color: #ffffff;
    padding: 50px;
}*/

.page-footer{
    background-color: white;
}

.form-cont{
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 120px;
    margin-bottom: 70px;
    padding-bottom: 40px;
}

.logo-form{
    padding-bottom: 20px;
}

.btn{
    background-color: #1F2F59;
    color: #ffffff;
}

.ChangePass p{
    font-size: 17px;
}

thead{
    background-color: #1F2F59;
    color: #ffffff;
}

.hr-body{
    border: #ffffff;
}